<div class="container">
  <% @city.each do |c| %>
    <div class="city_index">
      <h2><%= link_to "#{c.name}", city_path(c) %></h2>
      <%= image_tag(c.city_image, class: "city-image-index") %>
    </div>
    <br>
  <% end %>
</div>
<br>

