<h1>City Show</h1>

<div class="city_show">
  <h3><%= @city.name %></h3>
  <hr>
  <img src="<%= @city.city_image %>">
  <hr>
</div>

<div>
  <% @city.posts.each do |cp| %>
    <li>
      <h3><%= cp.title %></h3>
      <br>
      <%= cp.content %>
      <hr>
    </li>
  <% end %>
</div>
