<h1>City Show</h1>

<div>
  <h3><%= @city.name %></h3>
  <hr>
  <img src="<%= @city.city_image %>">
  <hr>
</div>

<div>
  <% @city.posts.each do |cp| %>
    <li>
      <%= cp.title %>
      <%= cp.content %>
    </li>
  <% end %>
</div>
