// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city_show, .city_index {
  text-align: center;
}

.city_show img{
  max-width: 300px
  height: auto;
}

.city_index img {
  max-width: 300px
  height: auto;
}
