// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Not yet in effect
// .city_show, .city_index {
//   text-align: center;
// }
//
.city-image-index {
  max-width: 300px;
  height: auto;
}

.city-image-show {
  height: 625px;
  width: 1000px;
}

//
// .city_index img {
//   max-width: 300px
//   height: auto;
// }
