// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show.html.erb --> views/users */
.post-icon {
  height: 30px;
  width: 30px;
}

.post-title {
  color: black;
}

.post-title:hover {
  text-decoration: none;
  color: black;
}

p {
  font-size: 20px;
}
